In [77]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from matplotlib.colors import LinearSegmentedColormap
from matplotlib.patches import Rectangle
from pathlib import Path

In [9]:
tads_df = pd.read_csv("TADS.csv", header=0)
tads_df.head()

  TAD_name     start       end
0     TAD1  58550000  59800000
1     TAD2  59850000  60450000

In [ ]:
# genomic_bin_matrix = np.loadtxt("genomic_bins.tsv", delimiter="\t", dtype=float)
# genomic_bin_matrix

In [38]:
gm_matrix = np.loadtxt("matrix_gm.tsv", delimiter="\t", dtype=float)
# gm_matrix

In [39]:
k562_matrix = np.loadtxt("matrix_k562.tsv", delimiter="\t", dtype=float)
# k562_matrix

In [16]:
genomic_bin_matrix = np.loadtxt("genomic_bins.tsv", delimiter="\t", dtype=float)

In [17]:
genomic_bin_matrix

array([58200000., 58250000., 58300000., 58350000., 58400000., 58450000.,
       58500000., 58550000., 58600000., 58650000., 58700000., 58750000.,
       58800000., 58850000., 58900000., 58950000., 59000000., 59050000.,
       59100000., 59150000., 59200000., 59250000., 59300000., 59350000.,
       59400000., 59450000., 59500000., 59550000., 59600000., 59650000.,
       59700000., 59750000., 59800000., 59850000., 59900000., 59950000.,
       60000000., 60050000., 60100000., 60150000., 60200000., 60250000.,
       60300000., 60350000., 60400000., 60450000., 60500000., 60550000.,
       60600000., 60650000., 60700000., 60750000., 60800000., 60850000.,
       60900000., 60950000.])

In [5]:
# gm_matrix_df = pd.read_csv("matrix_gm.tsv", delimiter="\t", header=None)
# k562_matrix_df = pd.read_csv("matrix_k562.tsv", delimiter="\t", header=None)

In [6]:
gm_matrix_df.head()

,0,1,2,3,4,5,6,7,8,9,...,46,47,48,49,50,51,52,53,54,55
0,25453.462891,7385.576660,3864.000732,2379.210449,1852.327393,1294.799438,833.622986,829.378723,746.722351,653.587219,...,314.970093,252.327393,183.732803,181.937424,165.357056,137.975006,157.237473,98.430588,110.254509,109.298737
1,7385.576660,22676.990234,6818.535156,2944.359131,2142.264404,1477.052490,1029.757080,972.503113,827.698547,625.757202,...,349.644501,267.523132,223.455185,204.639725,155.873581,164.091202,169.753113,124.431580,101.644928,113.254982
2,3864.000732,6818.535156,21942.046875,6398.669434,3890.740723,2361.204834,1628.406738,1166.756958,890.398132,766.612488,...,384.767517,314.026245,256.549194,242.572601,204.020752,214.919357,204.679916,142.914429,174.053329,129.459930
3,2379.210449,2944.359131,6398.669434,23220.931641,9065.218750,3509.620850,2150.433105,1526.030518,1163.639404,867.281494,...,437.786560,298.850830,265.511505,252.136139,242.484390,232.973557,201.585876,139.882904,151.922791,130.535965
4,1852.327393,2142.264404,3890.740723,9065.218750,24133.558594,7072.805176,3119.427002,1886.546875,1236.182739,917.696350,...,436.429474,312.497192,272.810028,285.541321,306.973846,241.407455,223.130661,154.465210,193.587555,155.931763

In [7]:
k562_matrix_df.head()

,0,1,2,3,4,5,6,7,8,9,...,46,47,48,49,50,51,52,53,54,55
0,4908.682129,1742.478638,926.546997,507.377808,397.339233,240.307037,211.222504,223.319000,179.063690,174.283981,...,44.352005,21.338572,17.837969,16.945953,20.572197,15.859057,17.967417,9.351448,8.802203,8.167011
1,1742.478638,4503.131348,1641.403198,657.830933,454.290802,324.605652,235.594406,229.085495,221.738541,162.880676,...,32.947498,21.817327,22.797731,16.243271,14.986553,18.241734,19.135975,11.268626,13.499537,7.828358
2,926.546997,1641.403198,4285.756836,1376.948364,699.027649,389.714508,299.084625,309.554047,276.179199,203.419418,...,30.481752,25.172684,15.331397,18.473642,18.721498,13.745103,13.625872,9.118051,6.675289,10.064569
3,507.377808,657.830933,1376.948364,4362.856934,1746.554565,745.735168,529.554565,424.400360,390.478668,301.596405,...,41.144665,18.949501,24.440132,24.185381,18.007946,20.694084,13.676384,13.219341,10.050052,10.878947
4,397.339233,454.290802,699.027649,1746.554565,4719.590332,1630.099243,715.687927,493.648071,376.487579,280.019257,...,43.278111,35.740273,15.365348,27.369337,19.935642,14.636512,17.196503,15.822697,12.636801,14.289715

In [10]:
tad_list: list = tads_df.to_dict(orient="records")
tad_list

[{'TAD_name': 'TAD1', 'start': 58550000, 'end': 59800000},
 {'TAD_name': 'TAD2', 'start': 59850000, 'end': 60450000}]

In [11]:
tad_list[0].values()

dict_values(['TAD1', 58550000, 59800000])

In [12]:
tad_dict = {}
for row in tad_list:
    row_values = list(row.values())
    tad_dict[row_values[0]] = tuple(row_values[1:])
tad_dict

{'TAD1': (58550000, 59800000), 'TAD2': (59850000, 60450000)}

In [18]:
tad1_indices: list = []
tad2_indices: list = []
tad1_bins: list = []
tad2_bins: list = []
for index, genomic_bin in enumerate(genomic_bin_matrix):
    tad1_intervals: tuple = tad_dict["TAD1"]
    tad2_intervals: tuple = tad_dict["TAD2"]
    if genomic_bin >= tad1_intervals[0] and genomic_bin <= tad1_intervals[1]:
        tad1_indices.append(index)
        tad1_bins.append(genomic_bin)
    elif genomic_bin >= tad2_intervals[0] and genomic_bin <= tad2_intervals[1]:
        tad2_indices.append(index)
        tad2_bins.append(genomic_bin)
    else:
        continue

In [19]:
print(tad1_bins)
print(tad2_bins)

[58550000.0, 58600000.0, 58650000.0, 58700000.0, 58750000.0, 58800000.0, 58850000.0, 58900000.0, 58950000.0, 59000000.0, 59050000.0, 59100000.0, 59150000.0, 59200000.0, 59250000.0, 59300000.0, 59350000.0, 59400000.0, 59450000.0, 59500000.0, 59550000.0, 59600000.0, 59650000.0, 59700000.0, 59750000.0, 59800000.0]
[59850000.0, 59900000.0, 59950000.0, 60000000.0, 60050000.0, 60100000.0, 60150000.0, 60200000.0, 60250000.0, 60300000.0, 60350000.0, 60400000.0, 60450000.0]

In [22]:
print(len(tad1_bins))
print(len(tad2_bins))

26
13

In [23]:
tad1_genomic_bin_data_indices: tuple = tuple((min(tad1_indices), max(tad1_indices)))
tad2_genomic_bin_data_indices: tuple = tuple((min(tad2_indices), max(tad2_indices)))

In [24]:
print(tad1_genomic_bin_data_indices)
print(tad2_genomic_bin_data_indices)

(7, 32)
(33, 45)

In [28]:
tad1_lower_bound = tad1_genomic_bin_data_indices[0]
tad1_upper_bound = tad1_genomic_bin_data_indices[1]

tad1_k562_data = k562_matrix_df.loc[tad1_lower_bound : tad1_upper_bound]
tad1_k562_data.head()

,0,1,2,3,4,5,6,7,8,9,...,46,47,48,49,50,51,52,53,54,55
7,223.319000,229.085495,309.554047,424.400360,493.648071,738.442566,1632.198730,4481.678223,1456.434204,633.572693,...,48.092255,34.805996,22.218805,30.153885,20.133564,16.125626,24.866716,7.131474,13.052311,12.715940
8,179.063690,221.738541,276.179199,390.478668,376.487579,468.216492,729.992310,1456.434204,4013.880859,1379.529785,...,71.625221,45.731247,25.101316,40.086090,27.701084,33.804733,23.249170,21.391825,18.152372,8.916590
9,174.283981,162.880676,203.419418,301.596405,280.019257,316.457550,521.467773,633.572693,1379.529785,4346.342773,...,46.547157,44.668022,28.248682,25.158808,25.276562,26.908741,27.799570,15.319863,14.420073,16.724348
10,162.379501,172.597839,212.147415,286.359314,257.930756,269.965607,381.437866,474.892365,730.194824,1506.544312,...,65.685226,27.517719,31.054625,12.292371,23.876480,24.103516,22.204926,18.089111,11.351114,15.797979
11,98.576813,130.185150,141.208176,239.693222,215.229675,249.693817,326.046661,399.542877,588.944153,699.798340,...,81.051758,39.056526,30.363836,29.659632,22.874693,27.057529,22.198196,14.304246,22.958027,10.090095

In [119]:
def plot_hic_map(
    genomic_bin_data_indices: tuple,
    matrix_data: np.ndarray,
    title: str,
    filename: str,
    percentile: int = 95,
) -> None:
    """Create a heatmap of provided contact matrices"""
    # Unpack genomic bin locations for a given TAD
    start_genomic_data_index, end_genomic_data_index = genomic_bin_data_indices
    current_directory: Path = Path.cwd()    
    vmax_intensity = np.percentile(matrix_data, percentile)
    plt.figure()
    color_map = LinearSegmentedColormap.from_list('HiC', [(0,'white'),(0.5,'orange'),(1,'red')])
    plt.imshow(matrix_data, cmap=color_map, vmin=0, vmax=vmax_intensity)
    # Create color bar for heatmap
    plt.colorbar()
    # Create dashed rectangles around genomic bin locations if present
    plt.axvline(x=start_genomic_data_index, color="red", linestyle='--', linewidth=0.5)
    plt.axhline(y=start_genomic_data_index, color="red", linestyle='--', linewidth=0.5)
    plt.axvline(x=end_genomic_data_index, color="red", linestyle='--', linewidth=0.5)
    plt.axhline(y=end_genomic_data_index, color="red", linestyle='--', linewidth=0.5)
    plt.xlabel("Bin Region")
    plt.ylabel("Bin Region")
    plt.title(f"{title}")
    plt.savefig(f"{current_directory}/{filename}.png")
    plt.close()

SyntaxError: invalid syntax (3489061421.py, line 19)

In [120]:
plot_hic_map(tad1_genomic_bin_data_indices, k562_matrix, "K562 Full Data Heatmap", "k562_full_data_heatmap")

In [118]:
plot_hic_map(tad2_genomic_bin_data_indices, gm_matrix, "GM Full Data Heatmap", "gm_full_data_heatmap")